*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#111;
color:white;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 60px;
background:#000;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:16px;
transition:.3s;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:2px;
background:#00e0ff;
transition:.3s;
}

.nav-links a:hover{
color:#00e0ff;
}

.nav-links a:hover::after{
width:100%;
}

.menu-toggle{
display:none;
font-size:26px;
cursor:pointer;
}

section{
padding:140px 60px;
text-align:center;
}

h1{
margin-bottom:15px;
font-size:180px;
}

p{
max-width:500px;
margin:auto;
line-height:1.6;
}

@media(max-width:768px){

.menu-toggle{
display:block;
}

.nav-links{
position:absolute;
top:70px;
right:0;
background:#000;
flex-direction:column;
width:200px;
text-align:center;
max-height:0;
overflow:hidden;
transition:.3s;
}

.nav-links.show{
max-height:300px;
}

nav{
padding:18px 25px;
}
}
.section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition:background .4s;
}

body{
transition:background .4s;
}
.footer{
background:#000;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
height:80px;
font-size:15px;
letter-spacing:.5px;
border-top:1px solid rgba(255,255,255,.1);
}

.footer p{
margin:0;
width:100%;
}